/vendor
/node_modules
/.env
.env.*
/storage/*.key
/public/storage
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
.idea
.DS_Store
*.log
