body {
  font-family: Arial, sans-serif;
  background-image: url('../Recursos/fondo_vehiculo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

a.back-button {
  margin: 20px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: rgba(45, 141, 215, 0.6);
  padding: 8px 15px;
  border: 2px solid white;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s;
}

a.back-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.container {
  background-color: rgba(255, 255, 255, 0.93);
  padding: 30px;
  max-width: 1000px;
  margin: 20px auto 40px auto;
  border: 3px solid rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

h1.titulo {
  background-color: rgba(24, 90, 182, 0.847);
  color: white;
  padding: 20px;
  text-align: center;
  margin: 0;
  font-size: 26px;
  border-bottom: 3px solid white;
}

h2.titulo {
  text-align: center;
  margin: 40px auto 20px auto;
  color: white;
  background-color: rgba(246, 245, 245, 0.942);
  padding: 10px;
  width: fit-content;
  border-radius: 6px;
  font-size: 22px;
  border: 2px solid white;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
}

th, td {
  border: 1px solid #999;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #2980b9;
  color: white;
}
